<h3 class="text-danger">คุณต้องการลบ สมาชิกนี้ใช่หรือไม่?</h3>
<br />
<form asp-action="Delete">

    <div class="btn-container">
        <div class="float-left ">
            <a asp-action="History">Back to List</a>
        </div>
        <div class="float-right">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </div>
</form>
